@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif !important;
}

.navbar-tek{
    background-color: #1285c8;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    color: black;
}

span{
    font-weight: 800 !important;
}


.container{
    padding-top: 5%;
}


.tittle-tek{
    font-weight: bold;
    margin-bottom: 3%;
}

.text{
    margin-right: 12%;
    text-align: justify !important;
}

.welcome{
    font-size: 1.5em;
    font-weight: bold !important;
    text-align: right;
    margin-right: 12%;
}

.text-links{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.text-links-1{
    font-size: 3em;
    font-weight: bold;
    text-align: center;

    padding-top: 1em;
    padding-bottom: 1em;
}

.boxes{
    border: solid 3px;
    border-radius: 1em;
    margin-top: 2em;
    margin-right: 3em;
    margin-left: 3em; 
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.laterales{
    text-align: center;
    margin-top: 1em !important;
    margin-bottom: 1em;
}

.text-person{
    text-align: center;
}

p{
    margin: 0 !important;
}

.users{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

.space{
    padding-bottom: 5em;
}

/*------------------VSAC-------------------------*/ 
.boxes-1{
    background-color: #ffbd43;
    border: solid 3px #ffbd43;
    border-radius: 1em;
    margin-top: 2em;
    margin-right: 3em;
    margin-left: 3em; 
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: all .2s ease-in-out;
    color: black !important;
    text-decoration: none;
}

.boxes-1:hover{
    background-color: #008AD7;
    border: solid 3px #008AD7;
    transform: scale(1.1);
}

.vsac:hover{
    color: black;
}
/*------------------End-------------------------*/ 

/*------------------VSAC-------------------------*/ 
.boxes-2{
    background-color: #b4b4b4;
    border: solid 3px #b4b4b4;
    border-radius: 1em;
    margin-top: 2em;
    margin-right: 3em;
    margin-left: 3em; 
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: all .2s ease-in-out;
}

.boxes-2:hover{
    background-color: #008AD7;
    border: solid 3px #008AD7;
    transform: scale(1.1);
}
.vsac{
    color: white;
    text-decoration: none;
}

.vsac:hover{
    color: black;
}
/*------------------End-------------------------*/ 


/*------------------VSAC-------------------------*/ 
.boxes-3{
    background-color: #cb2e63;
    border: solid 3px #cb2e63;
    border-radius: 1em;
    margin-top: 2em;
    margin-right: 3em;
    margin-left: 3em; 
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: all .2s ease-in-out;
}

.boxes-3:hover{
    background-color: #008AD7;
    border: solid 3px #008AD7;
    transform: scale(1.1);
}
.vsac{
    color: white;
    text-decoration: none;
}

.vsac:hover{
    color: black;
}
/*------------------End-------------------------*/ 

.boxes-4{
    background-color: #484898;
    border: solid 3px #484898;
    border-radius: 1em;
    margin-top: 2em;
    margin-right: 3em;
    margin-left: 3em; 
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: all .2s ease-in-out;
}

.boxes-4:hover{
    background-color: #008AD7;
    border: solid 3px #008AD7;
    transform: scale(1.1);
}
.vsac{
    color: white;
    text-decoration: none;
}

.vsac:hover{
    color: black;
}
/*------------------End-------------------------*/ 

/*------------------VSAC-------------------------*/ 
.boxes-5{
    background-color: #208582;
    border: solid 3px #208582;
    border-radius: 1em;
    margin-top: 2em;
    margin-right: 3em;
    margin-left: 3em; 
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: all .2s ease-in-out;
}

.boxes-5:hover{
    background-color: #008AD7;
    border: solid 3px #008AD7;
    transform: scale(1.1);
}
.vsac{
    color: white;
    text-decoration: none;
}

.vsac:hover{
    color: black;
}
/*------------------End-------------------------*/ 

/*------------------VSAC-------------------------*/ 
.boxes-6{
    background-color: #aeb5db;
    border: solid 3px #aeb5db;
    border-radius: 1em;
    margin-top: 2em;
    margin-right: 3em;
    margin-left: 3em; 
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: all .2s ease-in-out;
}

.boxes-6:hover{
    background-color: #008AD7;
    border: solid 3px #008AD7;
    transform: scale(1.1);
}
.vsac{
    color: white;
    text-decoration: none;
}

.vsac:hover{
    color: black;
}
/*------------------End-------------------------*/ 
